<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="main-panel">
    <div class="main-header">
      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="../index.html" class="logo">
            <img src="../../assets/Admin/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
        </div>
        <!-- End Logo Header -->
      </div>
      <!-- Navbar Header -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->
    </div>

    <div class="container">
      <!-- Homepage Section -->
      <div class="contact-section-space-y">
        <div class="contact-container">
          <div class="contact-row g-4 justify-content-xxl-between">
            <div class="contact-col-lg-6">
              <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start">
                <span class="contact-subtitle fs-6 fw-medium text-primary">Homepage Content</span>
                <button class="btn btn-primary mt-2 mt-sm-0" (click)="update()">Update</button>
              </div>

              <h2>{{ homedata.websitetitle }}</h2>
              <p class="mb-8">{{ homedata.toptext }}</p>
              <div class="contact-quote-box px-8 py-6 bg-success-subtle">
                <span class="contact-quote-text d-block mb-0 h5 max-text-10">{{ homedata.abouttext1 }}</span>
              </div>
              <div class="contact-icon-list my-8">
                <ul class="contact-list gap-4">
                  <li class="contact-item d-flex gap-2 align-items-center">
                    <div class="contact-icon-container flex-shrink-0">
                      <img [src]="'../../../../../../assets/Images/' + homedata.trainlogo" alt="Train Logo" class="contact-icon img-fluid">
                    </div>
                    <div class="contact-icon-text flex-grow-1 fs-18 fw-medium">{{ homedata.pointabouttext1 }}</div>
                  </li>
                  <li class="contact-item d-flex gap-2 align-items-center">
                    <div class="contact-icon-container flex-shrink-0">
                      <img [src]="'../../../../../../assets/Images/' + homedata.trainlogo" alt="Train Logo" class="contact-icon img-fluid">
                    </div>
                    <div class="contact-icon-text flex-grow-1 fs-18 fw-medium">{{ homedata.pointabouttext2 }}</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="contact-col-lg-6 contact-col-xxl-5">
              <div class="contact-image-container position-relative z-1">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img [src]="'../../../../../../assets/Images/' + homedata.logoimage" alt="Logo Image" class="img-fluid carousel-image">
                    </div>
                    <div class="carousel-item">
                      <img [src]="'../../../../../../assets/Images/' + homedata.formimage" alt="Form Image" class="img-fluid carousel-image">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="phoneEmailSection">
        <div class="container m-5">
          <div class="row justify-content-center text-center">
            <h5 class="w-100 fs-4 fw-bold mb-4">Destinations</h5>
            <div class="col-md-6 col-lg-3 p-3">
              <ul class="list-unstyled mb-0">
                <li class="d-flex flex-column align-items-center">
                  <span class="fs-5 fw-semibold text-primary">{{ homedata.desttitle }}</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 p-3">
              <ul class="list-unstyled mb-0">
                <li class="d-flex flex-column align-items-center">
                  <span class="fs-5 text-secondary">{{ homedata.desttext }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      