<home-navbar></home-navbar>
<div class="banner section-space-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-space-md-y text-center">
                    <h1 class="h2 text-light">Error</h1>
                    <ul class="list list-row list-dot list-dot-md justify-content-center">
                        <li><a routerLink="/" class="link text-light hover:text-primary">Home</a></li>
                        <li><a href="#" class="link text-primary hover:text-primary">Error</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /Banner -->
<div class="section-space-y">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-space-md-bottom text-center"><img src="../../assets/Home/img/404.png" alt="image"
                        class="img-fluid"></div>
                <h1 class="h2 text-center">Sorry, we can't find that page</h1>
                <p class="text-center">You may have mistyped the address or the page may have moved.</p>
                <div class="text-center"><a routerLink="/" class="btn btn-dark">Back to Home</a></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>