<h2 mat-dialog-title>Update Station</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateStation">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Station Name</mat-label>
        <input type="text" matInput formControlName="stationname">
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Station Address</mat-label>
        <input type="text" matInput formControlName="address">
      </mat-form-field>
    </div>

    <input type="file" #file formControlName="imagepath" (change)="uploadimage(file.files)">
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="col-12">
    <button mat-button [mat-dialog-close]="true" class="btn-info" cdkFocusInitial (click)="save()">Update</button>

    <button mat-button [mat-dialog-close]="true" class="btn-danger" cdkFocusInitial (click)="deleteStation()">Delete
      Station</button>
  </div>
  <div class="col-12">
    <button mat-button mat-dialog-close>Cancel</button>

  </div>
</mat-dialog-actions>