
  
 <body>
    <app-navbar></app-navbar>
   

    <!-- Banner -->
    <div class="banner section-space-y mt-16">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="section-space-md-y text-center">
              <h1 class="h2 text-light">
                Contact
              </h1>
              <ul class="list list-row list-dot list-dot-md justify-content-center">
                <li>
                  <a href="index.html" class="link text-light hover:text-primary">
                    Home
                  </a>
                </li>
                <li>
                  <a routerLink="/contactus"class="link text-primary hover:text-primary">
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
    <!-- About -->
    <div class="section-space-y">
      <div class="container">
        <div class="row g-4 justify-content-xxl-between">
          <div class="col-lg-6">
            <span class="d-block fs-14 text-primary fw-medium mb-1">
              GET TO KNOW US
            </span>
            <h2>
              Stay on Track with Train Tracke
            </h2>
            <p class="mb-8">
              Our team is dedicated to providing accurate train tracking information and ensuring your journey runs smoothly. Reach out for any questions or assistance regarding our services.
            </p>
            <div class="px-8 py-6 bg-success-subtle">
              <span class="d-block mb-0 h5 max-text-10">
                The journey is just as important as the destination. We're here to help you every step of the way.
              </span>
            </div>
            <div class="my-8">
              <ul class="list gap-4">
                <li class="d-flex gap-2 align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../../assets/Home/img/icon-plane.png" alt="image" class="img-fluid">
                  </div>
                  <div class="flex-grow-1 fs-18 fw-medium">
                    Track real-time train locations
                  </div>
                </li>
                <li class="d-flex gap-2 align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../../assets/Home/img/icon-plane.png" alt="image" class="img-fluid">
                  </div>
                  <div class="flex-grow-1 fs-18 fw-medium">
                    We assist with schedule and route inquiries
                  </div>
                </li>
              </ul>
            </div>
            <button class="btn btn-primary text-light">
              Discover More
            </button>
          </div>
          <div class="col-lg-6 col-xxl-5">
            <div class="position-relative z-1">
              <img src="../../assets/Home/img/about-img-1.png" alt="image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /About -->
    <div class="section-space-y bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img src="../../assets/Home/img/map-img.png" alt="image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-space-y">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row g-4 align-items-center">
                  <div class="col-lg-6">
                    <h2 class="mb-6">
                      Get In Touch
                    </h2>
                    <div class="row g-4">
                      <div class="col-12">
                        <input type="text" class="form-control border-secondary bg-secondary"
                        placeholder="Enter name">
                      </div>
                      <div class="col-12">
                        <input type="email" class="form-control border-secondary bg-secondary"
                        placeholder="Enter Your email">
                      </div>
                      <!-- <div class="col-12">
                        <input type="text" class="form-control border-secondary bg-secondary"
                        placeholder="Company Name">
                      </div> -->
                      <div class="col-12">
                        <textarea class="form-control border-secondary bg-secondary" placeholder="Enter Your Message"
                        rows="9">
                        </textarea>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary text-light justify-content-center w-100">
                          Send Message
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <img src="../../assets/Home/img/contact-img.png" alt="image" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<app-footer></app-footer>
 </body>