<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="main-panel">
    <div class="main-header">

      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a href="../index.html" class="logo">
            <img src="../../assets/Admin/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>

        </div>
        <!-- End Logo Header -->
      </div>
      <!-- Navbar Header -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->
    </div>

    <div class="container">
      <!-- Feedback Section -->
      <div class="section-space-md-bottom">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h1 class="mb-0 fw-bold m-3">Feedback</h1>
        </div>
      </div>

      <!-- Card Section for Feedback -->
      <div class="card shadow mb-4">
        <div class="card-body p-0">
          <!-- Check if there is feedback -->
          <div *ngIf="feedbackService.Feedback && feedbackService.Feedback.length > 0" class="table-responsive">
            <table class="table table-bordered align-items-center mb-0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Feedback ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Message</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of feedbackService.Feedback">
                  <td>{{ obj.feedbackid }}</td>
                  <td>{{ obj.name }}</td>
                  <td>{{ obj.email }}</td>
                  <td>{{ obj.message }}</td>

                </tr>
              </tbody>
            </table>
          </div>

          <!-- If no feedback is found -->

        </div>
      </div>
      <div *ngIf="feedbackService.Feedback.length == 0" class="alert alert-warning m-4">
        No feedback found.
      </div>
    </div>



  </div>


</div>