
<div class="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End Sidebar -->

    <div class="main-panel">
      <div class="main-header">

        <div class="main-header-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="../index.html" class="logo">
              <img
                src="../../assets/Admin/img/kaiadmin/logo_light.svg"
                alt="navbar brand"
                class="navbar-brand"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
           
          </div>
          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
         <app-navbar></app-navbar>
        <!-- End Navbar -->
      </div>

   
<div class="container">
    <h2 class="form-title m-3">Trip Details</h2>
    <div class="container mt-4 p-4 custom-form-container">
     <div class="row">
        <div class="col mb-4">
          <form [formGroup]="createTrip">
            <div class="col-12 col-md-6 form-group">
                <label for="tripPrice" class="custom-label">Trip Price</label>
                <input type="text" class="form-control custom-input" formControlName="price"  />
                <mat-error *ngIf="createTrip.controls['price'].hasError('required')">Trip Price is required</mat-error>

            </div>
    
            <div class="col-12 col-md-6 form-group">
                <label for="tripPrice" class="custom-label">Destination Address</label>
                <input type="text" class="form-control custom-input" formControlName="destaddress"  />
                <mat-error *ngIf="createTrip.controls['destaddress'].hasError('required')">Trip Destination Address is required</mat-error>

            </div>
              <!-- station -->
               <!-- update this to read only when come from press on station pin -->
               <div class="col-12 col-md-6 form-group">
                <label for="destinationStation" class="custom-label">Station</label>
                <select *ngIf="isStationSelected" class="form-select custom-select" id="destinationStation" formControlName="stationid">
                    <option value="" selected>Select Station</option>
                    <option *ngFor="let obj of managestation.stations" [value]="obj.stationid">{{ obj.stationname }}</option>
                </select>
            
                <input *ngIf="!isStationSelected"
                       type="text" 
                       class="form-control" 
                       id="destinationStationReadOnly" 
                       [value]="station.stationname" 
                       readonly
                />
            </div>
          
            <div class="form-group mb-4">
                <label class="custom-label">Trip Days</label>
                <div class="selectgroup selectgroup-pills flex-wrap">
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="monday" class="selectgroup-input" />
                        <span class="selectgroup-button">Mon</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="tuesday"class="selectgroup-input" />
                        <span class="selectgroup-button">Tue</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="wednesday" class="selectgroup-input" />
                        <span class="selectgroup-button">Wed</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="thursday" class="selectgroup-input" />
                        <span class="selectgroup-button">Thu</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="friday" class="selectgroup-input" />
                        <span class="selectgroup-button">Fri</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="saturday" class="selectgroup-input" />
                        <span class="selectgroup-button">Sat</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tripDays" formControlName="sunday"  class="selectgroup-input" />
                        <span class="selectgroup-button">Sun</span>
                    </label>
                </div>
    
          </div>
          <button class="btn btn-success m-1" [disabled]="!createTrip.valid" (click)="save()">Save</button>



          </form>



          
        </div>
         
          <!-- map -->
          <div class="col mb-4">
            <label for="destinationStation" class="custom-label mb-2">Select Destination</label>
          <google-map width="100%" height="500px" [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)">
    
    
       
        <map-marker
        *ngIf="markerPosition"
        [position]="markerPosition"
       
        (mapClick)="removeMarker()"
      ></map-marker>
          </google-map>
    
    
          </div>
      
     </div>
   
  </div>
  
  
  
  </div>
    </div>

   
  </div>
 
