<div class="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">

            <div class="main-header-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="../index.html" class="logo">
                        <img src="../../assets/Admin/img/kaiadmin/logo_light.svg" alt="navbar brand"
                            class="navbar-brand" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>

                </div>
                <!-- End Logo Header -->
            </div>
            <!-- Navbar Header -->
            <app-navbar></app-navbar>
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Trip Schedule Search</h4>
                        <p>Search for trip schedules within a specified date range.</p>
                    </div>
                    <div class="card-body">

                        <form class="mb-4" [formGroup]="tripScheduleForm" (ngSubmit)="onSearch()">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="startDate">Start Date:</label>
                                    <input type="date" id="startDate" formControlName="startDate" class="form-control">
                                    <span
                                        *ngIf="tripScheduleForm.controls['startDate'].hasError('required') && tripScheduleForm.controls['startDate'].touched"
                                        style="color:red; font-size: small;">
                                        Start Date Required
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label for="endDate">End Date:</label>
                                    <input type="date" id="endDate" formControlName="endDate" class="form-control">
                                    <span
                                        *ngIf="tripScheduleForm.controls['endDate'].hasError('required') && tripScheduleForm.controls['endDate'].touched"
                                        style="color:red; font-size: small;">
                                        End Date Required
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary mt-3"
                                        [disabled]="!tripScheduleForm.valid">Search</button>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive mt-4" *ngIf=" reportService.tripsearch.length > 0">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Trip Schedule ID</th>
                                        <th>Departure Time</th>
                                        <th>Arrival Time</th>
                                        <th>Trip Destination Name</th>
                                        <th>Train Name</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of reportService.tripsearch">
                                        <td>{{ obj.tripScheduleId }}</td>
                                        <td>{{ obj.departureTime }}</td>
                                        <td>{{ obj.arrivalTime }}</td>
                                        <td>{{ obj.destaddress }}</td>
                                        <td>{{ obj.trainname }}</td>
                                        <td>{{ obj.tDate | date: 'yyyy-MM-dd' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="reportService.tripsearch.length == 0" class="alert alert-warning mt-4">
                            No trip schedules found for the selected date range.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>