<app-navbar></app-navbar>
<div class="banner section-space-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-space-md-y text-center">
                    <h1 class="h2 text-light">Station Details</h1>
                    <ul class="list list-row list-dot list-dot-md justify-content-center">
                        <li><a routerLink="/" class="link text-light hover:text-primary">Home</a></li>
                        <li><a routerLink="" class="link text-light hover:text-primary">Station</a></li>
                        <li><a class="link text-primary hover:text-primary">Station Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /Banner -->
<div class="section-space-top section-space-md-bottom">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6"><img src="../../assets/Home/img/destination-details-img-1.png" alt="image"
                    class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2>map</h2>

            </div>
            <h1 class="h2 mt-4 mb-6">{{stationService.selectedStation.stationname}}</h1>
            <!-- <div class="col-lg-12">
                <ul class="list list-row flex-wrap row-gap-1 column-gap-4 align-items-center">
                    <li><span class="badge bg-success-subtle text-success-emphasis ff-1">5.0</span></li>
                    <li><span class="badge bg-primary-subtle text-primary-emphasis ff-1">Perfect</span></li>
                    <li><span class="badge bg-info-subtle text-info-emphasis ff-1">Hotels</span></li>
                    <li><span class="badge bg-danger-subtle text-danger-emphasis ff-1">Building</span></li>
                    <li><span class="badge bg-success-subtle text-success-emphasis ff-1">Top Value</span></li>
                    <li>
                        <ul class="list list-row gap-1">
                            <li class="text-warning"><i class="bi bi-star-fill"></i></li>
                            <li class="text-warning"><i class="bi bi-star-fill"></i></li>
                            <li class="text-warning"><i class="bi bi-star-fill"></i></li>
                            <li class="text-warning"><i class="bi bi-star-fill"></i></li>
                            <li class="text-warning"><i class="bi bi-star-fill"></i></li>
                        </ul>
                    </li>
                </ul>
            
                <ul class="nav flex-nowrap tab-underline border-bottom">
                    <li><button class="btn btn-sm active" data-bs-toggle="tab" data-bs-target="#hoteDescription"
                            type="button">Description</button></li>
                    <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#hotelFeatures"
                            type="button">Features</button></li>
                    <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#hotelVirtual"
                            type="button">Virtual</button></li>
                    <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#hotelPrice" type="button">Price
                            history</button></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="hoteDescription">
                        <div class="card border-0">
                            <div class="card-body px-0">
                                <p class="mb-0">Arabian Park Hotel is a great choice for travellers looking for a 3
                                    star hotel in Dubai. It is located in Bur Dubai. This Hotel stands out as one of
                                    the highly recom.2 kms, Al Wasl Indoor Stadium (1.2 kms), Dubai Mall (5.4 kms),
                                    Jumeirah Beach Park (9.6 kms) and Jumeirah Public Beach (15.8 kms).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-8">
                    <h5>Hotel features</h5>
                    <ul class="list list-row flex-wrap row-gap-1 column-gap-6 align-items-center">
                        <li>
                            <div class="d-flex align-items-center gap-2"><span class="d-inline-block flex-shrink-0"><i
                                        class="bi bi-wifi"></i> </span><span class="d-inline-block">Wifi</span></div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2"><span class="d-inline-block flex-shrink-0"><i
                                        class="bi bi-tsunami"></i> </span><span class="d-inline-block">Swimming</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2"><span class="d-inline-block flex-shrink-0"><i
                                        class="bi bi-cup-hot-fill"></i>
                                </span><span class="d-inline-block">Breakfast</span></div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2"><span class="d-inline-block flex-shrink-0"><i
                                        class="bi bi-people"></i> </span><span class="d-inline-block">Kids bed</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2"><span class="d-inline-block flex-shrink-0"><i
                                        class="bi bi-arrows-collapse-vertical"></i> </span><span
                                    class="d-inline-block">4m x 6m</span></div>
                        </li>
                    </ul>
                </div>
                <div class="py-8">
                    <h5>Amenities</h5>
                    <div class="row g-4">
                        <div class="col-md-6 col-xl-4">
                            <ul class="list gap-3">
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-wifi"></i>
                                        </span><span class="d-inline-block">Wifi</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-tsunami"></i>
                                        </span><span class="d-inline-block">Swimming</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-cup-hot-fill"></i>
                                        </span><span class="d-inline-block">Breakfast</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-people"></i>
                                        </span><span class="d-inline-block">Kids bed</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i
                                                class="bi bi-arrows-collapse-vertical"></i> </span><span
                                            class="d-inline-block">4m x 6m</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <ul class="list gap-3">
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-wifi"></i>
                                        </span><span class="d-inline-block">Wifi</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-tsunami"></i>
                                        </span><span class="d-inline-block">Swimming</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-cup-hot-fill"></i>
                                        </span><span class="d-inline-block">Breakfast</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i class="bi bi-people"></i>
                                        </span><span class="d-inline-block">Kids bed</span></div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="d-inline-block flex-shrink-0"><i
                                                class="bi bi-arrows-collapse-vertical"></i> </span><span
                                            class="d-inline-block">4m x 6m</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="pt-8">
                    <div class="accordion accordion-separate accordion-rounded-0 accordion-faq-2 gap-6"
                        id="accordion-separate">
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="accordion-button fs-20 fw-semibold rounded px-0"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#accordion-r1"
                                    aria-expanded="true">What destinations do you offer tours to</button></h2>
                            <div id="accordion-r1" class="accordion-collapse collapse show"
                                data-bs-parent="#accordion-separate">
                                <div class="accordion-body px-0">Quisque rutrum. Aenean imperdi. Etiam ultricies
                                    nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus. Maecenas tempus, tellus eget.</div>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button
                                    class="accordion-button fs-20 fw-semibold rounded px-0 collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-r2" aria-expanded="false">What
                                    types of service do you provide?</button></h2>
                            <div id="accordion-r2" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-separate">
                                <div class="accordion-body px-0">Quisque rutrum. Aenean imperdi. Etiam ultricies
                                    nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus. Maecenas tempus, tellus eget.</div>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button
                                    class="accordion-button fs-20 fw-semibold rounded px-0 collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-r3" aria-expanded="false">What
                                    is included in the tour package?</button></h2>
                            <div id="accordion-r3" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-separate">
                                <div class="accordion-body px-0">Quisque rutrum. Aenean imperdi. Etiam ultricies
                                    nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus. Maecenas tempus, tellus eget.</div>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button
                                    class="accordion-button fs-20 fw-semibold rounded px-0 collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-r4" aria-expanded="false">What
                                    should I pack for my trip?</button></h2>
                            <div id="accordion-r4" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-separate">
                                <div class="accordion-body px-0">Quisque rutrum. Aenean imperdi. Etiam ultricies
                                    nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus. Maecenas tempus, tellus eget.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-4">
                <ul class="list gap-6 p-md-4 p-xl-6">
                    <li>
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <h4 class="mb-0">$102 <span class="d-inline-block fs-16 fw-normal">/night $119</span>
                            </h4><span class="btn btn-sm btn-primary text-light">20% Off</span>
                        </div>
                    </li>
                    <li>
                        <div class="row g-4 align-items-center">
                            <div class="col-md-6"><label class="form-label fw-medium">Check In</label> <input
                                    type="date" class="form-control bg-secondary rounded border border-secondary">
                            </div>
                            <div class="col-md-6"><label class="form-label fw-medium">Check Out</label> <input
                                    type="date" class="form-control bg-secondary rounded border border-secondary">
                            </div>
                            <div class="col-12"><label class="form-label fw-medium">Guest</label> <select
                                    class="form-select bg-secondary rounded border border-secondary">
                                    <option selected="selected">2 Adult, 1 Children</option>
                                    <option value="1">2 Adult, 1 Children</option>
                                    <option value="2">2 Adult, 1 Children</option>
                                    <option value="3">2 Adult, 1 Children</option>
                                </select></div>
                        </div>
                    </li>
                    <li><span class="d-block fw-medium mb-3">Extra Features</span>
                        <ul class="list gap-2">
                            <li>
                                <div class="form-check form-check-modifier form-check--success gap-2 w-100"><input
                                        class="form-check-input" type="checkbox" id="ef-1"> <label
                                        class="form-check-label flex-grow-1" for="ef-1"><span
                                            class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                                class="d-inline-block flex-grow-1">Allow to bring pet </span><span
                                                class="d-inline-block flex-shrink-0">$13</span></span></label></div>
                            </li>
                            <li>
                                <div class="form-check form-check-modifier form-check--success gap-2 w-100"><input
                                        class="form-check-input" type="checkbox" id="ef-2"> <label
                                        class="form-check-label flex-grow-1" for="ef-2"><span
                                            class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                                class="d-inline-block flex-grow-1">Breakfast a day per person
                                            </span><span class="d-inline-block flex-shrink-0">$10</span></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-check-modifier form-check--success gap-2 w-100"><input
                                        class="form-check-input" type="checkbox" id="ef-3"> <label
                                        class="form-check-label flex-grow-1" for="ef-3"><span
                                            class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                                class="d-inline-block flex-grow-1">Parking a day </span><span
                                                class="d-inline-block flex-shrink-0">$6</span></span></label></div>
                            </li>
                            <li>
                                <div class="form-check form-check-modifier form-check--success gap-2 w-100"><input
                                        class="form-check-input" type="checkbox" id="ef-4"> <label
                                        class="form-check-label flex-grow-1" for="ef-4"><span
                                            class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                                class="d-inline-block flex-grow-1">Extra pillow </span><span
                                                class="d-inline-block flex-shrink-0">Free</span></span></label>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><span class="d-block fw-medium mb-3">Price</span>
                        <div class="rounded-3 bg-secondary p-4">
                            <ul class="list gap-3">
                                <li><span
                                        class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                            class="d-inline-block flex-grow-1 text-dark text-opacity-50">1 Nights
                                        </span><span class="d-inline-block flex-shrink-0">$500</span></span></li>
                                <li><span
                                        class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                            class="d-inline-block flex-grow-1 text-dark text-opacity-50">Discount
                                            20% </span><span class="d-inline-block flex-shrink-0">$200</span></span>
                                </li>
                                <li><span
                                        class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                            class="d-inline-block flex-grow-1 text-dark text-opacity-50">Breakfast
                                            per person </span><span
                                            class="d-inline-block flex-shrink-0">$10</span></span></li>
                                <li><span
                                        class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                            class="d-inline-block flex-grow-1 text-dark text-opacity-50">Service fee
                                        </span><span class="d-inline-block flex-shrink-0">$5</span></span></li>
                            </ul>
                        </div>
                    </li>
                    <li><span class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                class="d-inline-block flex-grow-1">Total payment </span><span
                                class="d-inline-block flex-shrink-0">$300</span></span></li>
                    <li><button class="btn btn-success text-light w-100 justify-content-center">Book Now</button>
                    </li>
                    <li><span class="d-block text-center text-dark text-opacity-50">You will not get charged
                            yet</span></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<div class="section-space-y bg-secondary">
    <div class="section-space-md-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="text-center"><span class="d-block mb-1 fs-14 text-primary fw-medium">
                            Destination</span>
                        <h2 class="mb-0">Trips</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div *ngFor="let trip of stationService.trips" class="col-md-6 col-xl-4">
                <div class="d-flex flex-wrap flex-md-nowrap align-items-center gap-6 p-6 rounded-3 bg-white"><a
                        href="destination-details.html" class="d-inline-block flex-shrink-0 link"><img
                            src="assets/img/trending-img-1.png" alt="image" class="img-fluid rounded-3"></a>
                    <div class="flex-grow-1">
                        <h6>{{trip.destaddress}}</h6>
                        <ul class="list list-row gap-1 align-items-center mb-1">
                            <li><span class="text-dark fs-14 d-block">Days: </span></li>
                            <li>
                                <span class="text-dark fs-14 d-block">{{showDays(trip)}}</span>
                            </li>

                        </ul>
                        <h6 class="mb-4">{{trip.price}}<span class="fs-14 fw-normal"> JOD</span></h6>
                        <a (click)="bookTrip(trip)" class="link btn btn-sm btn-success text-light">Book
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>