<nav class="navbar navbar-expand-lg navbar-overlay z-3">
    <div class="container"><a routerLink="" class="logo d-block"><img
                [src]="'../../../../../../assets/Images/' + logoimage" alt="logo" class="logo__img">
        </a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMenu"
            aria-controls="primaryMenu" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="primaryMenu">
            <ul class="navbar-nav justify-content-end align-items-lg-center w-100">
                <li class="nav-item ms-lg-auto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link fs-14" routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link fs-14" routerLink="/allstation">Stations</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link fs-14" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link fs-14" routerLink="/contactus">Contact</a>
                </li>
                <li *ngIf="userName" class="nav-item has-sub" routerLinkActive="active">
                    <a class="nav-link fs-14">Profile</a>
                    <ul class="list sub-menu">
                        <li class="sub-menu__list" routerLinkActive="active">
                            <a routerLink="/userprofile" class="link sub-menu__link fs-14">User Info</a>
                        </li>
                        <li class="sub-menu__list" routerLinkActive="active">
                            <a routerLink="/userReservation" class="link sub-menu__link fs-14">User Reservations</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ms-lg-auto">
                    <ul class="list list-row gap-2 align-items-center">
                        <!-- Check if user is logged in or not -->
                        <li *ngIf="!userName">
                            <a routerLink="/auth/login" class="btn btn-success text-white fs-14"
                                routerLinkActive="active">Login</a>
                        </li>
                        <li *ngIf="userName" class="d-flex align-items-center">
                            <!-- <a routerLink="/userprofile"><img *ngIf="userProfileImage" [src]="userProfileImage"
                                    alt="Profile" class="profile-image me-2"></a> -->
                            <a routerLink="/auth/login" class="btn btn-success text-white fs-14" (click)="logout()"
                                routerLinkActive="active">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>