<div class="card popular-card h-100"><img src="../../assets/Images/{{station.imagepath}}" alt="image"
        class="card-img-top">
    <div class="card-body popular-card__body"><span class="d-flex align-items-center gap-1 fs-14 mb-2"><span
                class="flex-shrink-0 d-block text-primary"><i class="bi bi-geo-alt-fill"></i> </span><span
                class="d-block flex-grow-1">{{station.address}}</span></span>
        <h3 class="card-title"><a class="link d-inline-block text-dark hover:text-primary">{{station.stationname}}</a>
        </h3>
        <ul class="list list-row gap-1 align-items-center">
            <li *ngFor="let item of [].constructor(station.averageRating);"><span class="text-warning fs-14 d-block"><i
                        class="bi bi-star-fill"></i></span></li>
            <li *ngFor="let item of [].constructor(5-(station.averageRating));"><span
                    class="text-warning fs-14 d-block"><i class="bi bi-star"></i></span></li>
            <li><span class="text-dark fs-12 d-block">{{station.averageRating}}</span></li>
        </ul>
        <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mt-6">
            <a (click)="showStationDetails(station)" class="link btn btn-primary fs-14 text-light">Book Trip</a>
        </div>
    </div>
</div>