<div>
  <google-map width="100%" height="500px" [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)">


    <map-marker *ngFor="let station of managestation.stations | station:stationName.value" [options]="{draggable: true}"
      (mapDragend)="onMarkerDragEnd(station, $event)" [position]="{lat:station.latitude,lng:station.longitude}"
      (mapClick)="onStationClick(station)" [label]="{ 
        text: station.stationname, 
        color: 'blue', 
        fontFamily: 'Arial', 
        fontSize: '10px', 
        fontWeight: 'bold' 
    }">
    </map-marker>
    <!-- <map-marker
      [position]="markerPosition"
      [options]="markerOptions">
    </map-marker> -->
  </google-map>
</div>