<div class="d-flex align-items-center gap-3 my-6">

    <h6 class="mb-0 flex-grow-1">Payment Methods</h6>
</div>
<ul class="list gap-4">
    <!-- <li>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                    <div class="form-check form-check-modifier form-check--primary-subtle flex-grow-1 gap-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentOption1"
                            value="option2"> <label class="form-check-label" for="paymentOption1"><span
                                class="d-block fw-semibold ff-1">Pay with
                                Paypal </span><span class="d-block fs-14">You will be redirected to
                                PayPal website to complete your purchasec securely</span></label>
                    </div>
                    <div class="d-inline-block flex-shrink-0"><img src="assets/img/icon-paypal.png" alt="image"
                            class="img-fluid"></div>
                </div>
            </div>
        </div>
    </li> -->
    <li>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="paymentForm">
                    <div class="d-flex align-items-center gap-3 mb-6">
                        <div class="form-check form-check-modifier form-check--primary-subtle flex-grow-1 gap-3">
                            <input class="form-check-input" type="radio" id="paymentOption2" value="credit"
                                formControlName="cardtype"> <label class="form-check-label" for="paymentOption2"><span
                                    class="d-block fw-semibold ff-1">Credit /
                                    Debit Card </span></label>
                        </div>
                        <div class="d-inline-block flex-shrink-0"><img src="../../assets/Home/img/icon-visa.png"
                                alt="image" class="img-fluid"></div>
                    </div>
                    <div class="row g-4">
                        <div class="col-12">
                            <label class="form-label fs-14 ff-1 text-dark text-opacity-60">Card
                                Number</label>
                            <input type="text" class="form-control border-secondary bg-secondary"
                                placeholder="XXXX XXXX XXXX XXXX" formControlName="cardnumber">
                            <div *ngIf="paymentForm.controls['cardnumber'].invalid && paymentForm.controls['cardnumber'].touched"
                                class="text-danger">
                                <small *ngIf="paymentForm.controls['cardnumber'].hasError('required')">Card number is
                                    required.</small>
                                <small
                                    *ngIf="paymentForm.controls['cardnumber'].hasError('minlength') || paymentForm.controls['cardnumber'].hasError('maxlength')">Invalid
                                    card number length</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="form-label fs-14 ff-1 text-dark text-opacity-60">Card
                                Holder Name</label>
                            <input type="text" class="form-control border-secondary bg-secondary"
                                placeholder="Peter Parker" formControlName="cardholdername">
                            <div *ngIf="paymentForm.controls['cardholdername'].invalid && paymentForm.controls['cardholdername'].touched"
                                class="text-danger">
                                <small *ngIf="paymentForm.controls['cardholdername'].hasError('required')">Card Holder
                                    name is
                                    required.</small>

                            </div>
                        </div>
                        <div class="col-md-6"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">Expiration
                                Date</label> <input type="date" class="form-control border-secondary bg-secondary"
                                formControlName="expirydate">
                            <div *ngIf="paymentForm.controls['expirydate'].invalid && paymentForm.controls['expirydate'].touched"
                                class="text-danger">
                                <small *ngIf="paymentForm.controls['expirydate'].hasError('required')">
                                    Expiry date is required.</small>

                            </div>
                        </div>
                        <div class="col-md-6"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">CVC</label>
                            <input type="text" class="form-control border-secondary bg-secondary" placeholder="***"
                                formControlName="cvv">
                            <div *ngIf="paymentForm.controls['cvv'].invalid && paymentForm.controls['cvv'].touched"
                                class="text-danger">
                                <small *ngIf="paymentForm.controls['cvv'].hasError('required')">CVC is
                                    required.</small>
                                <small *ngIf="paymentForm.controls['cvv'].hasError('pattern')">Invalid
                                    cvc</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
    <!-- <li><button (click)="confirmPay()" class="btn btn-success text-light w-100 justify-content-center" [disabled]="
        paymentForm.invalid
        ">Check</button>
    </li> -->
</ul>