<div class="d-flex align-items-center gap-3 my-6"><span
        class="d-grid place-content-center w-6 h-6 rounded-circle bg-primary text-light fs-14 flex-shrink-0">2</span>
    <h6 class="mb-0 flex-grow-1">Payment Methods</h6>
</div>
<ul class="list gap-4">
    <li>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                    <div class="form-check form-check-modifier form-check--primary-subtle flex-grow-1 gap-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentOption1"
                            value="option2"> <label class="form-check-label" for="paymentOption1"><span
                                class="d-block fw-semibold ff-1">Pay with
                                Paypal </span><span class="d-block fs-14">You will be redirected to
                                PayPal website to complete your purchasec securely</span></label>
                    </div>
                    <div class="d-inline-block flex-shrink-0"><img src="assets/img/icon-paypal.png" alt="image"
                            class="img-fluid"></div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3 mb-6">
                    <div class="form-check form-check-modifier form-check--primary-subtle flex-grow-1 gap-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentOption2"
                            value="option2"> <label class="form-check-label" for="paymentOption2"><span
                                class="d-block fw-semibold ff-1">Credit /
                                Debit Card </span><span class="d-block fs-14">We support Mastercard,
                                Visa, Discover and Stripe.</span></label>
                    </div>
                    <div class="d-inline-block flex-shrink-0"><img src="assets/img/icon-visa.png" alt="image"
                            class="img-fluid"></div>
                </div>
                <div class="row g-4">
                    <div class="col-12"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">Card
                            Number</label> <input type="text" class="form-control border-secondary bg-secondary"
                            placeholder="XXXX XXXX XXXX XXXX"></div>
                    <div class="col-12"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">Card
                            Holder</label> <input type="text" class="form-control border-secondary bg-secondary"
                            placeholder="Peter Parker"></div>
                    <div class="col-md-6"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">Expiration
                            Date</label> <input type="text" class="form-control border-secondary bg-secondary"
                            placeholder="MM/YY">
                    </div>
                    <div class="col-md-6"><label class="form-label fs-14 ff-1 text-dark text-opacity-60">CVC</label>
                        <input type="text" class="form-control border-secondary bg-secondary" placeholder="****">
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>