<home-navbar></home-navbar>
<div class="banner section-space-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-space-md-y text-center">
                    <h1 class="h2 text-light">Reservation</h1>
                    <ul class="list list-row list-dot list-dot-md justify-content-center">
                        <li><a href="index.html" class="link text-light hover:text-primary">Home</a></li>
                        <li><a href="#" class="link text-primary hover:text-primary">Reservation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /Banner -->
<div class="section-space-y">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <ul class="list gap-6 p-md-4 p-xl-6">
                    <li>
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <h4 class="mb-0 ">
                                Destenation Address: <span class="text-primary fw-medium">{{trip.destaddress}}</span>

                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class=" d-flex align-items-center justify-content-between gap-2">
                            <h4 class="mb-0">
                                Price: <span class="text-primary fw-medium"> {{trip.price}}</span>

                                <span class="d-inline-block fs-12 fw-normal"> JOD</span>
                            </h4>
                        </div>
                    </li>
                    <li>
                        <form [formGroup]="reservationForm">
                            <div class="row g-4 align-items-center">

                                <div class="col-md-6"><label class="form-label fw-medium">Reservation Date</label>
                                    <input type="date" class="form-control bg-secondary rounded border border-secondary"
                                        formControlName="date" (change)="selectDate()">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-medium">Hour</label>
                                    <select formControlName="hour"
                                        class="form-select bg-secondary rounded border border-secondary"
                                        (change)="onHourChange($event)">
                                        <option *ngFor="let item of tripSchedulesForThisDate "
                                            [value]="item.departuretime">
                                            {{item.departuretime}} -
                                            {{item.arrivaltime}}
                                        </option>

                                    </select>
                                </div>

                                <div class="col-12">
                                    <label class="form-label fw-medium">Guest</label>
                                    <select formControlName="numberOfTickets"
                                        class="form-select bg-secondary rounded border border-secondary"
                                        (change)="changeNumOfTickets()"
                                        [disabled]=" reservationForm.controls['date'].invalid || reservationForm.controls['hour'].invalid ">
                                        <option *ngFor="let item of numOfTickets" [value]="item">
                                            {{item}}</option>

                                    </select>
                                </div>

                            </div>
                        </form>
                    </li>
                    <div *ngIf="reservationForm.valid">
                        <li>

                            <div class="rounded-3 bg-secondary p-4">
                                <ul class="list gap-3">
                                    <li><span
                                            class="d-flex align-items-center justify-content-between gap-2 flex-wrap"><span
                                                class="d-inline-block flex-grow-1 text-dark fw-medium">TotalPrice
                                            </span>
                                            <span
                                                class="d-inline-block flex-shrink-0 text-dark fw-medium">{{(reservationForm.controls['numberOfTickets'].value||1)*(trip.price||1)}}
                                                JOD</span>
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </li>


                    </div>
                    <li><button (click)="submit()" class="btn btn-success text-light w-100 justify-content-center"
                            [disabled]="reservationForm.invalid || (paymentComponent?.paymentForm?.invalid ?? true)">Book
                            Now</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-8" *ngIf=" reservationForm.controls['date'].valid &&
            reservationForm.controls['hour'].valid &&
            reservationForm.controls['numberOfTickets'].valid ">

                <h2>Confirm and Pay</h2>
                <hr>
                <form [formGroup]="reservationForm">
                    <div formArrayName="tickets">
                        <div *ngFor="let ticket of tickets.controls; let i = index" [formGroupName]="i">
                            <div class="d-flex align-items-center gap-3 my-6"><span
                                    class="d-grid place-content-center w-6 h-6 rounded-circle bg-primary text-light fs-14 flex-shrink-0">{{i+1}}</span>
                                <h6 class="mb-0 flex-grow-1">Customers Information</h6>
                            </div>

                            <div class="row g-4">
                                <div class="col-md-6"><input type="text"
                                        class="form-control border-secondary bg-secondary" placeholder="Full Name"
                                        formControlName="fullname">
                                </div>
                                <div class="col-md-6"><input type="text"
                                        class="form-control border-secondary bg-secondary" placeholder="National Id"
                                        formControlName="nationalid">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-medium">date of birth</label>

                                    <input type="date" class="form-control border-secondary bg-secondary"
                                        placeholder="National Id" formControlName="dateofbirth">
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label fw-medium">Seat Number</label>
                                    <select formControlName="seatid"
                                        class="form-select bg-secondary rounded border border-secondary">
                                        <option [value]="seat.seatid" *ngFor="let seat of availableSeats let i=index"
                                            [disabled]="seat.availability === 0">
                                            {{seat.seatnumber}}</option>

                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-medium">gender</label>
                                    <select formControlName="gender"
                                        class="form-select bg-secondary rounded border border-secondary">
                                        <option [value]="gender" *ngFor="let gender of genders">{{gender}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="my-6">

                <payment *ngIf="reservationForm.valid"></payment>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>