<h2 mat-dialog-title>Update Home Page</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateHomepage">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Station Name</mat-label>
        <input type="text" matInput formControlName="websitetitle">
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Station Address</mat-label>
        <input type="text" matInput formControlName="toptext">
      </mat-form-field>
    </div>

    <input type="file" #file formControlName="logoimage" (change)="uploadimage(file.files,'logoimage')">
    <input type="file" #file formControlName="formimage" (change)="uploadimage(file.files,'formimage')">
    <input type="file" #file formControlName="trainlogo" (change)="uploadimage(file.files,'trainlogo')">

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="col-12">
    <button mat-button  class="btn-info" cdkFocusInitial (click)="save()">Update</button>

     
  </div>
  <div class="col-12">
    <button mat-button mat-dialog-close>Cancel</button>

  </div>
</mat-dialog-actions>