<footer class="footer-1">
    <div class="section-space-md-y border-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <!-- قسم الشعار والوصف -->
                <div class="col-md-6 col-lg-3">
                    <a routerLink="" class="logo d-block mb-4">
                        <img [src]="'../../../../../../assets/Images/' + logoimage" alt="logo" class="logo__img">
                    </a>
                    <p class="mb-6">Hello, we are Train Tracker. Our goal is to streamline your journey by providing reliable, real-time train information and a seamless travel experience.</p>
                    <ul class="list list-row gap-3 flex-wrap">
                        <li><a href="#" class="link d-inline-block text-dark hover:text-primary"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#" class="link d-inline-block text-dark hover:text-primary"><i class="bi bi-pinterest"></i></a></li>
                        <li><a href="#" class="link d-inline-block text-dark hover:text-primary"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#" class="link d-inline-block text-dark hover:text-primary"><i class="bi bi-twitter"></i></a></li>
                    </ul>
                </div>
                
                <!-- قسم About في المنتصف -->
                <div class="col-md-6 col-lg-3 d-flex justify-content-center">
                    <div>
                        <h2>About</h2>
                        <ul class="list gap-2">
                            <li><a routerLink="/about" class="link d-inline-block text-dark hover:text-primary">About Us</a></li>
                            <li><a routerLink="/contactus" class="link d-inline-block text-dark hover:text-primary">Contact Us</a></li>
                            <li><a routerLink="/allstation" class="link d-inline-block text-dark hover:text-primary">Station</a></li>
                        </ul>
                    </div>
                </div>

                <!-- قسم Contact في اليمين -->
                <div class="col-md-6 col-lg-3 d-flex justify-content-end">
                    <div>
                        <h2>Contact</h2>
                        <ul class="list gap-2">
                            <li>
                                <a href="#" class="link d-inline-flex align-items-center gap-2 text-dark hover:text-primary">
                                    <span class="d-inline-block flex-shrink-0"><i class="bi bi-telephone-fill"></i> </span>
                                    <span class="d-inline-block flex-grow-1">{{contact.contactPage.phonenumber}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link d-inline-flex align-items-center gap-2 text-dark hover:text-primary">
                                    <span class="d-inline-block flex-shrink-0"><i class="bi bi-envelope-fill"></i> </span>
                                    <span class="d-inline-block flex-grow-1">{{contact.contactPage.email}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="mb-0 text-center">&copy; 2024 Train Tracker. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
